body {
    margin: 0;
}

.container {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #FDB927;
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding: 0 20px;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    padding: 0;
}

.background,
.subtitle h3 {
    background-color:rgb(131, 29, 131);
    color:rgb(255, 209, 4);
    text-align: center;
}

.title {
    background-color:rgb(131, 29, 131);
    color:rgb(255, 209, 4);
    text-align: center;
    margin-top: 0;
}

a {
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: red;
}

.homepage {
    text-align: center;
}