.container {
    border: 1px solid #FDB927;
    padding: 10px;
    margin: 0 100px;
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background,
.subtitle h3 {
    background-color:rgb(131, 29, 131);
    color:rgb(255, 209, 4);
    text-align: center;
}

.title {
    background-color:rgb(131, 29, 131);
    color:rgb(255, 209, 4);
    text-align: center;
}