body {
    margin: 0;
    min-height: 100vh;
    background-color: #FDB927;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 850px;
    background-color:#552583;
    padding: 50px 0;
}

.title {
    color:#FDB927;
    font-size: 50px;
    font-family: "Times New Roman", Verdana;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.recipes {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

a {
    color:#FDB927;
    text-decoration: none;
}

a:hover {
    color: red;
}